# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database and test files
data/test_students.json
test_data/
.pytest_cache/

# Environments
.env
.venv
env/
venv/
ENV/

# IDE files
.vscode/
.idea/
